:root {
    --primary-color: #1C1C1C;
    --accent-color-red: #FF3B3B;
    --accent-color-blue: #3B83FF;
    --background-color: #121212;
    --text-color-primary: #FFFFFF;
    --text-color-secondary: #B3B3B3;
    --highlight-color: #535353;
    --error-color: #E02424;
  }
  